*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 1349px;
    overflow-x: hidden;
}
#top{
    width: 1349px;  
}

/*******************************导航*************************/
#top_list{
    position: absolute;
    /*left: 60px;*/ 
    width: 1349px;
    z-index: 10;
    /******************************导航logo************************/
    #pic{
       width: 60px;
        border: none;
        position: absolute;
        z-index: 11;
        img{
           display: block; 
        }     
    }
     /***********************第一个导航列表*************************/
    .top_nav{
        padding-left: 70px;
        width: 1279px;
        height: 34px;
        background: #444;
//      z-index: 10;
        position: absolute;        
        ul{
            float:left;
            li{
                float: left;
                a{
                    display: block;
                    padding: 0 12px;
                    color: #cacaca;
                    font-size: 12px;
                    line-height: 34px;
                }
                a:hover{
                   color: white; 
                }
            }
            li:nth-child(7){
                a{  span{
                        float: left;
                     }
                    span:nth-child(2){
                        float: right;
                        margin-top: 10px;
                        margin-left: 5px;
                        display: block;
                        width: 14px;
                        height: 14px;
                        background:url(../main_img/icons.png) no-repeat  -210px -24px;
                    }
                }
            }
        }
        p{
            float:left;
            margin-left:100px;
            padding-left: 20px;
            color: #cacaca;
            font-size: 12px;
            line-height: 34px;
            background: url(../main_img/horn.png) no-repeat left 10px;
        }
        .code{
            width:80px;
            height: 120px;          
            position: absolute;
            left: 380px;
            top:34px;
            padding: 15px 20px 0;
            text-align: center;
            background: white;
            z-index: 2;
            display: none;
            span:nth-child(1){
                display: block;
                width: 80px;
                height: 80px;               
                background: white;
                background: url(../main_img/icons.png) -1px -70px;
            }
            span:nth-child(2){
                display: block;
                color:#898989;
                line-height: 20px;
                
            }
        }
    }
    /**************************第二个导航列表********************/
    .nav{
         background: #333;
         width: 1349px;
         position: absolute;
         left: 0;
         top:34px;
//       z-index: 10;
        ul{
            padding-left: 70px;
            float:left;
            li{
                float:left; 
                a{
                    display: block;
                    color: white;
                    margin-left:11px;
                    margin-right: 11px;
                    line-height: 50px;   
                }
            }  
        }
        span:nth-child(2){
            width: 250px;
            height: 40px;
            margin-top: 8px;
            margin-left: 140px;
            float:left;
            position: relative;
            #txt{
                width: 245px;
                height: 36px;
                border: none;   
                background: #ccc;
                opacity: 0.7;   
                border-radius: 18px;
                color:#999;
                padding-left:20px; 
//              float: left; 
            }
            #btn{
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background:url(../first_img/icons_2.png) no-repeat -8px -28px;
                position: absolute;
                right: 0;
                top:2px;
            }
        }
        /*******************************导航小人**********************/
       a:nth-child(3){
            img{
                float: left;
                margin-left: 50px;
                margin-top: 8px;  
           }
            
        }
        /*******************************导航后图标************************/
        span:nth-child(4){
            width: 24px;
            height: 22px;
            float: left;
            margin-left: 30px;
            margin-top: 14px;
            background: url(../first_img/icons_1.png) no-repeat -72px -72px;
        }
        span:nth-child(5){
            width: 22px;
            height: 22px;
            float: left;
            margin-left: 2px;
            margin-top: 10px;
            background: url(../first_img/icons_2.png) no-repeat -184px -200px;
        }
        .user{
            display: none;
            width: 140px;
            height: 100px;
            position: absolute;
            right: 155px;
            top:43px;
            z-index: 11;
            background: white;
            padding-top: 10px;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            a{
                display: block;
                color: #272727;        
            }
        }

    }
}

//***************************信息********************************
.information{
    width: 1209px;
    height: 663px;
    padding:130px 70px 0;
    .left{
        width: 618px;
        height: 663px;
        float: left;
//      border: 1px solid black;
        #top{
            position: relative;
            height: 520px;
            margin: 20px auto;
            li{
                position: absolute;
                top: 0;
                left: 30px;
                display: none;
                img{
                    width: 520px;
                    height: 520px;
                } 
            }

        }       
        #bottom{
            position: relative;
            #small_ul{
                position: absolute;
                top: 0;
                left: 25px;
                li{
                   float: left;
                   margin: 0 4px;
                   border: 1px solid #eee;
                   img{
                        height: 84px;
                        width: 84px;                  
                   }
                }
                span{
                    width: 20px;
                    height: 28px;
                    position: absolute;
                    top: 28px;
                    left: -20px;
                    background: url(../detail_img/detail_old.png) no-repeat -8px -9px;
                }
                span:last-child{
                    left: 565px;
                    background-position-x: -40px;
                }
            }           
        }
    }
    
    .right{
        width: 570px;
        height: 663px;
        float: right;
        h3{
            font-size: 28px;
            height: 70px;
            margin-top: 10px;
        }
        p:nth-child(2){
            line-height: 80px;
            height: 60px;
            border-bottom: 1px solid #dcdcdc;
            font-size: 16px;
        }
        p:nth-child(3){
            line-height: 60px;
            height: 50px;
            font-size: 18px;
            
        }
        p:nth-child(4){
            width: 580px;
            height: 24px;
            span{
                display: block;
                float: left;
                font-size: 12px;
                line-height: 24px;
                color: #e2231a;               
            }
            span:first-child{           
                
                height: 22px;
                line-height: 22px;
                border:1px solid #e2231a;
                padding: 0 10px;
                border-radius: 5px;
            }
            span:nth-child(2){
                margin-left:10px ;
                color: black;
            }
        }
        p:nth-child(5){
            color: #ff2f00;
            font-size: 12px;
            height: 34px;
            line-height: 34px;
        }
        .size{
            span{
                display: block;
                line-height: 38px;
                font-size: 18px;
            }
            p{
                border: 1px solid #ff0000;
                border-radius: 5px;
                width: 280px;
                height: 55px;
                font-size: 16px;
                line-height: 55px;
                text-align: center;
            }
        }
        .processor{
            p{              
                line-height: 44px;
                font-size: 18px;
            }
            div{
                
                span{
                    display: block;
                    border: 1px solid #c9c9c9;
                    border-radius: 5px;
                    width: 270px;
                    height: 46px;
                    font-size: 16px;
                    line-height: 46px;
                    text-align: center;
                    margin: 10px 5px 0;
                    float: left;
                }
                
            }
        }
        .memory{
            p{               
                line-height: 44px;
                font-size: 18px;
            }
            div{
                span{
                    display: block;
                    border: 1px solid #c9c9c9;
                    border-radius: 5px;
                    width: 270px;
                    height: 46px;
                    font-size: 16px;
                    line-height: 46px;
                    text-align: center;
                    margin: 10px 5px 0;
                    float: left;
                }
                
            }
        }
    }    
}

//***************************列表信息************************
.list{
    width: 1209px;
    height: 40px;
    margin:30px 70px 0;
//  margin-top: 30px;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    ul{
        width: 1209px;
        height: 40px;
        li{
            float: left;
            line-height: 40px;
            a{
                font-size: 14px;
                color: black;
                padding-right:40px;
            }
            
        }
    }
}

.pic{
    width: 1349px;
    img{
        display: block;
        width: 1349px;
    }
}


//************************右边导航*********************
#logo{
    width: 300px;
    height: 310px;
    position: fixed;
    top: 150px;
    right: 10px;
    display: none;
    ul{
        width: 47px;
        float: right;
       li{
           width: 47px;
           height: 54px;
           background: url(../main_img/right1.png) no-repeat -1308px -321px;
       }
       li:nth-child(2){
           background-position-y: -375px;
       } 
       li:nth-child(3){
           background-position-y: -430px;
       } 
       li:nth-child(4){
           background-position-y: -485px;
       } 
       li:nth-child(5){
           background-position-y: -540px;
       } 
       li:nth-child(6){
           height: 18px;
           background-position-y: -595px;
       } 
       li:hover{
           background-position-y: -2px;
       }
       li:nth-child(2):hover{
           background-position-y: -57px;
       } 
       li:nth-child(3):hover{
           background-position-y: -113px;
       } 
       li:nth-child(4):hover{
           background-position-y: -169px;
       } 
       li:nth-child(5):hover{
           background-position-y: -215px;
       } 
       li:nth-child(6):hover{
           background-position-y: -272px;
       } 
       
    }
    div{
        float: left;
        width: 240px;
        padding-right: 10px;
        position: relative;
        
        p{
            background: url(../main_img/right1.png) no-repeat -442px 0;
            width: 196px;
            height: 52px;
            display: none;
            position: absolute;
            top:2px;
            right: 10px;
        }
        p:nth-child(2){
            width:216px;
            height: 154px;
            background-position-x: -1064px;
            display: none;
            top:62px;
        }
        p:nth-child(3){
            width: 234px;
            height: 98px;
            background-position-x: -793px;
            display: none;
            top:200px;
        }
    }
}

//*********************************底部********************
#Bottom{
    width: 1200px;
    height: 80px;
    padding: 0 74px;
    background: #e8e8e8;
    .code{
        width: 74px;
        height: 80px;
        background: #ccc;
        float: left;
        span{
            display: block;
            width: 44px;
            height: 44px;
            margin: 18px 15px;            
            background: url(../detail_img/new_detail.png) no-repeat -7px -55px;
        }
        
    }
    img{
        display: block;
        float: left;
    }
    .price{
        float: right;
        .info{
            float: left;
            margin-left: 16px;
            line-height: 80px;
            font-size: 16px;            
        }
        div{
            float:left ;
            margin-top: 25px;
            margin-left: 16px;
            p{  
                line-height: 24px;             
                width: 25px;
                height: 25px;
                float: left;
                border:1px solid #9d9d9d;
                text-align: center;
            }
            p:nth-child(2){
                width: 35px;
            }
        }
        p:nth-child(3).info{
            color:#e2231a;
            span{
                font-size: 20px;
            }
        }
        input{
            color: white;
            background: #e2231a;
            border: none;
            border-radius: 5px;
            height: 40px;
            line-height: 40px;
            margin-top: 20px;
            margin-left: 15px;
            padding: 0 20px;
        }
    }
}

























