//*******************************底部**************************
.top{
    width: 1349px;
    height: 380px;
    background: #272727;   
    .border{
         width: 1069px;
         height: 340px; 
         padding: 0 120px 0 160px;
         border: 1px solid #424141;
        ul{
            width: 840px;
            height: 340px;
            float: left;
            li{
                width: 210px;
                float: left;
                h3{
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 36px;
                    color: #ccc;
                }          
                ul{
                    width: 210px;
                    height: 340px;
                  li{
                      a{
                          display: block;
                          font-size: 14px;
                          line-height: 24px;
                          color:#ccc;
                      }
                      a:hover{                      
                          color:burlywood;
                      }
                  }
                }
            }
        }
        div{
            width: 220px;
            height: 340px;
            float:right;
            position: relative;
            h3{
               font-weight: normal;
                font-size: 20px;
                line-height: 36px;
                color: #ccc; 
            }
            p{
                width: 220px;
                height: 50px;
                span{
                    a{
                       display: block;
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                        margin-top: 10px;
                        float: left;
                        background: url(../first_img/icons_1.png) no-repeat -8px -189px; 
                    }
                    a:hover{
                        background-position-y: -237px;
                         transition:all 0.5s linear;
                        -webkit-transform: rotateX(360deg);
                    }          
                } 
                span:nth-child(2) {
                    a{
                        background-position-x: -62px;
                    }
                }
                span:nth-child(3) {
                    a{
                        background-position-x: -118px;
                    }
                } 
                span:nth-child(4) {
                    a{
                        background-position-x: -175px;
                        margin-right: 0;
                    }
                }      
            }
            p:nth-child(3){
                span{
                    display: block;
                    width: 85px;
                    height: 26px;     
                    margin-top: 10px;
                    float: left;
                    background: url(../first_img/icons_1.png) no-repeat -8px -129px;
                }
                span:nth-child(2){
                    background-position-x: -118px;
                    margin-left: 20px;
                }
            }
            p:nth-child(4){
                line-height: 140px;
                height: 90px;
                font-size: 16px;
                color: #ccc;
                margin-left: 5px;
            }
            ul{
                width: 185px;
                height: 185px;
                overflow-x: hidden;
                overflow-y: scroll;
                position: absolute;
                left: 0;
                top:40px;
                z-index: 2;
                background: white;
                display: none;
                a{
                    display: block;
                    font-size: 14px;
                    padding-left: 10px;
                    color: black;
                }
                a:hover{               
                    color: orangered;
                }
                
            }
            
        }  
    }
    .toplist{
        width:1209px ;
        padding-left: 70px;
        padding-right: 70px;
        ul{
            float:left;
            margin-top: 15px;
            line-height: 14px;
            height: 14px;
            color: #ccc;
            font-size: 14px;
            li{
                float: left;
                padding-left: 5px;
                padding-right: 5px;
                border-left: 1px solid #ccc;
            }
            li:nth-child(1){
               border-left: none; 
            }
        }
        ul:nth-child(2){
            float: right;
            li:nth-child(1){
               border-left: none; 
            }
        }
    }
    
}
